<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <!-- Tells Internet Explorer to display content in the highest mode available. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Karaoke</title>

    <link href="libraries/bootstrap/v2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="libraries/glyphicons/css/bootstrap-glyphicons.css" rel="stylesheet" media="screen">

    <script src="libraries/angularjs/angular.min.js"></script>
    <script src="libraries/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript">
        test = function () {
            console.log('testing');
        }
    </script>
    <style type="text/css">
        object{height: 2px;} /* Fix Chrome */
    </style>
<body>

<div class="container">
    <article class="content">
        <section id="vlc-content">

        </section>
        <!--
        <section id="vlc-content-test">
            <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org"
            id="vlc"
            width="100%"
            height="300px"
            target="musics/Sleep%20Away.mp3"></embed>
            <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
            codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab"></object>
        </section>

        -->
        <section id="playlist-content" ng-controller="PlaylistCtrl">

            <button id="switch-track" type="button" class="btn">Toggle Track</button>
            <!-- <button type="button" class="btn" ng-click="clearPlaylist()">Clear Playlist</button> -->
            <button type="button" class="btn btn-ttc"><span class="glyphicon glyphicon-backward"></span></button>
            <button type="button" class="btn btn-ttc" ng-click="forward()"><span
                    class="glyphicon glyphicon-forward"></span></button>

            <h6>Playlist</h6>
            <ul class="media-list">
                <li class="media" ng-repeat="song in playlist">
                    <button type="button" class="pull-left glyphicon-minus" ng-click="removeSong(song.id)"></button>
                    <div class="media-body">
                        <h5 class="media-heading">{{song.title}}</h5>
                        {{song.artist}}
                    </div>
                </li>
            </ul>
        </section>
    </article>
</div>
<!-- end .container -->
<script src="libraries/bootstrap/v2.3.2/js/bootstrap.min.js"></script>
<script src="js/debugger.js"></script>
<script src="js/songFileHelper.js"></script>
<script src='https://cdn.firebase.com/v0/firebase.js'></script>
<script src="js/vlc.js"></script>
<script src="js/playlist.js"></script>
<script src="js/main.js"></script>
</body>
</html>
